In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly

In [39]:
data_url='https://raw.githubusercontent.com/vengie/student_performance/main/exams.csv'
data = pd.read_csv(data_url)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [40]:
col = data.loc[: , "math score":"writing score"]

In [41]:
col

     math score  reading score  writing score
0            67             67             63
1            40             59             55
2            59             60             50
3            77             78             68
4            78             73             68
..          ...            ...            ...
995          73             70             65
996          85             91             92
997          32             35             41
998          73             74             82
999          65             60             62

[1000 rows x 3 columns]

In [42]:
data['overall success'] = col.mean(axis=1)
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,overall success
0,male,group A,high school,standard,completed,67,67,63,65.666667
1,female,group D,some high school,free/reduced,none,40,59,55,51.333333
2,male,group E,some college,free/reduced,none,59,60,50,56.333333
3,male,group B,high school,standard,none,77,78,68,74.333333
4,male,group E,associate's degree,standard,completed,78,73,68,73.000000
...,...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65,69.333333
996,male,group D,associate's degree,free/reduced,completed,85,91,92,89.333333
997,female,group C,some high school,free/reduced,none,32,35,41,36.000000
998,female,group C,some college,standard,none,73,74,82,76.333333
999,male,group A,some college,standard,completed,65,60,62,62.333333

In [43]:
data = data.rename(columns={
    'race/ethnicity': 'race_ethnicity',
    'parental level of education': 'parent_education',
    'test preparation course': 'test_preparation_course',
    'math score': 'math_score',
    'reading score': 'reading_score',
    'writing score': 'writing_score',
    'overall success':'overall_success',
})
data.head()

,gender,race_ethnicity,parent_education,lunch,test_preparation_course,math_score,reading_score,writing_score,overall_success
0,male,group A,high school,standard,completed,67,67,63,65.666667
1,female,group D,some high school,free/reduced,none,40,59,55,51.333333
2,male,group E,some college,free/reduced,none,59,60,50,56.333333
3,male,group B,high school,standard,none,77,78,68,74.333333
4,male,group E,associate's degree,standard,completed,78,73,68,73.000000

In [44]:
from sklearn import preprocessing
lb=preprocessing.LabelEncoder()

data["gender_1"]=lb.fit_transform(data["gender"])
data["race_ethnicity_1"]=lb.fit_transform(data["race_ethnicity"])
data["test_preparation_course_1"]=lb.fit_transform(data["test_preparation_course"])
data["lunch_1"]=lb.fit_transform(data["lunch"])
data["parent_education_1"]=lb.fit_transform(data["parent_education"])

In [45]:
data.head()

,gender,race_ethnicity,parent_education,lunch,test_preparation_course,math_score,reading_score,writing_score,overall_success,gender_1,race_ethnicity_1,test_preparation_course_1,lunch_1,parent_education_1
0,male,group A,high school,standard,completed,67,67,63,65.666667,1,0,0,1,2
1,female,group D,some high school,free/reduced,none,40,59,55,51.333333,0,3,1,0,5
2,male,group E,some college,free/reduced,none,59,60,50,56.333333,1,4,1,0,4
3,male,group B,high school,standard,none,77,78,68,74.333333,1,1,1,1,2
4,male,group E,associate's degree,standard,completed,78,73,68,73.000000,1,4,0,1,0

In [46]:
df=data.drop(["gender","race_ethnicity","test_preparation_course","lunch","parent_education"],axis=1)
df.head()

,math_score,reading_score,writing_score,overall_success,gender_1,race_ethnicity_1,test_preparation_course_1,lunch_1,parent_education_1
0,67,67,63,65.666667,1,0,0,1,2
1,40,59,55,51.333333,0,3,1,0,5
2,59,60,50,56.333333,1,4,1,0,4
3,77,78,68,74.333333,1,1,1,1,2
4,78,73,68,73.000000,1,4,0,1,0

In [47]:
y = df["overall_success"]
X = df.drop(['overall_success'], axis=1)

In [48]:
y

0      65.666667
1      51.333333
2      56.333333
3      74.333333
4      73.000000
         ...
995    69.333333
996    89.333333
997    36.000000
998    76.333333
999    62.333333
Name: overall_success, Length: 1000, dtype: float64

In [49]:
X = df.drop(['race_ethnicity_1', 'lunch_1', 'parent_education_1', 'overall_success'], axis=1)
X.head()

,math_score,reading_score,writing_score,gender_1,test_preparation_course_1
0,67,67,63,1,0
1,40,59,55,0,1
2,59,60,50,1,1
3,77,78,68,1,1
4,78,73,68,1,0

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.20,
                                                    random_state=42)

In [51]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [52]:
# from sklearn.linear_model import LinearRegression

# regressor = LinearRegression()
# regressor.fit(X_train_scaled, y_train)

In [53]:
# y_pred_1 = regressor.predict(X_test_scaled)
# df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_1})
# df

In [54]:
# from sklearn import metrics

# print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_1))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_1))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_1)))

In [55]:
from sklearn.tree import DecisionTreeRegressor
dec_reg=DecisionTreeRegressor(max_depth=5)
dec_reg
dec_reg.fit(X_train_scaled,y_train)

DecisionTreeRegressor(max_depth=5)

In [56]:
y_pred_dec_reg=dec_reg.predict(X_test_scaled)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_dec_reg})
df

        Actual  Predicted
521  76.666667  77.714286
737  82.000000  83.615385
740  52.000000  54.523810
660  92.000000  87.259887
411  69.666667  70.519481
..         ...        ...
408  48.000000  50.736111
332  51.000000  50.736111
208  82.333333  82.333333
613  81.000000  81.240741
78   75.666667  77.733333

[200 rows x 2 columns]

In [57]:
#Import packages
from keras.models import Sequential
from keras.layers import Dense
import numpy as np
from sklearn.model_selection import train_test_split

In [58]:
model = Sequential()
model.add(Dense(5, input_dim=5, kernel_initializer='normal', activation='relu'))
model.add(Dense(2670, activation='relu'))
model.add(Dense(1, activation='linear'))
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 5)                 30

 dense_7 (Dense)             (None, 2670)              16020

 dense_8 (Dense)             (None, 1)                 2671

=================================================================
Total params: 18,721
Trainable params: 18,721
Non-trainable params: 0
_________________________________________________________________

In [59]:
model.compile(loss='mean_squared_error', optimizer='adam',
              metrics=['mean_absolute_error'])

In [60]:
history = model.fit(X_train, y_train, epochs=10,
                    batch_size=30, validation_data=(X_test, y_test))

Epoch 1/10
27/27 [==============================] - 1s 10ms/step - loss: 3665.6882 - mean_absolute_error: 58.7277 - val_loss: 1634.0411 - val_mean_absolute_error: 39.4446
Epoch 2/10
27/27 [==============================] - 0s 5ms/step - loss: 368.8315 - mean_absolute_error: 15.5408 - val_loss: 40.3174 - val_mean_absolute_error: 6.2055
Epoch 3/10
27/27 [==============================] - 0s 4ms/step - loss: 13.3999 - mean_absolute_error: 3.0573 - val_loss: 3.5413 - val_mean_absolute_error: 1.6302
Epoch 4/10
27/27 [==============================] - 0s 4ms/step - loss: 2.5297 - mean_absolute_error: 1.2988 - val_loss: 1.2307 - val_mean_absolute_error: 0.9146
Epoch 5/10
27/27 [==============================] - 0s 5ms/step - loss: 1.0716 - mean_absolute_error: 0.8422 - val_loss: 1.0661 - val_mean_absolute_error: 0.8331
Epoch 6/10
27/27 [==============================] - 0s 5ms/step - loss: 1.0571 - mean_absolute_error: 0.8360 - val_loss: 1.0738 - val_mean_absolute_error: 0.8294
Epoch 7/10
27/27 [==============================] - 0s 4ms/step - loss: 1.0634 - mean_absolute_error: 0.8342 - val_loss: 1.0523 - val_mean_absolute_error: 0.8274
Epoch 8/10
27/27 [==============================] - 0s 4ms/step - loss: 1.0384 - mean_absolute_error: 0.8280 - val_loss: 1.0452 - val_mean_absolute_error: 0.8240
Epoch 9/10
27/27 [==============================] - 0s 4ms/step - loss: 1.0302 - mean_absolute_error: 0.8244 - val_loss: 1.0368 - val_mean_absolute_error: 0.8208
Epoch 10/10
27/27 [==============================] - 0s 4ms/step - loss: 1.0260 - mean_absolute_error: 0.8211 - val_loss: 1.0288 - val_mean_absolute_error: 0.8169

**Model Predection**

In [61]:
# model = Sequential()
# model.add(Dense(16, input_shape=(5,), activation='relu'))
# model.add(Dense(1, activation='linear'))
# model.summary()

In [62]:
# # Compile and fit the model
# model.compile(optimizer='adam', loss='mean_squared_error')
# model.fit(X_train, y_train, epochs=10, batch_size=32)

In [63]:
predictions1 = model.predict(X_test)
predictions1

7/7 [==============================] - 0s 2ms/step

array([[76.24016 ],
       [81.84833 ],
       [52.688488],
       [92.88308 ],
       [69.383995],
       [67.77193 ],
       [97.41115 ],
       [81.435234],
       [77.61549 ],
       [75.541504],
       [57.986835],
       [56.313496],
       [59.197746],
       [71.53929 ],
       [38.056522],
       [35.160908],
       [81.83789 ],
       [76.54034 ],
       [72.75901 ],
       [81.11938 ],
       [52.95557 ],
       [75.79737 ],
       [71.999054],
       [92.90378 ],
       [65.9104  ],
       [92.7389  ],
       [77.44085 ],
       [78.34732 ],
       [74.1752  ],
       [58.549152],
       [83.25505 ],
       [64.13711 ],
       [47.9042  ],
       [83.642006],
       [78.025375],
       [63.95974 ],
       [73.107346],
       [91.221924],
       [67.206894],
       [55.952576],
       [59.318493],
       [97.31887 ],
       [47.215664],
       [59.146595],
       [43.560318],
       [75.46203 ],
       [63.572224],
       [73.29553 ],
       [66.93982 ],
       [65.76642 ],
       [63.510277],
       [55.408554],
       [47.041595],
       [70.30761 ],
       [51.78531 ],
       [80.64662 ],
       [65.5302  ],
       [88.84716 ],
       [70.57196 ],
       [75.6981  ],
       [48.704487],
       [52.59588 ],
       [84.69263 ],
       [65.34821 ],
       [94.61856 ],
       [86.170715],
       [93.47133 ],
       [65.47043 ],
       [66.875885],
       [61.330673],
       [48.52924 ],
       [75.76986 ],
       [77.556335],
       [65.24282 ],
       [64.61698 ],
       [63.1581  ],
       [94.76233 ],
       [84.3732  ],
       [65.32872 ],
       [65.861855],
       [64.86508 ],
       [62.195583],
       [78.48074 ],
       [49.053608],
       [80.34013 ],
       [42.667625],
       [78.11102 ],
       [71.16755 ],
       [57.832344],
       [62.61719 ],
       [74.06286 ],
       [57.164555],
       [74.01398 ],
       [66.556854],
       [85.41114 ],
       [69.76367 ],
       [66.82732 ],
       [59.00284 ],
       [77.99532 ],
       [92.514114],
       [86.26068 ],
       [48.437634],
       [44.5645  ],
       [76.70416 ],
       [85.85312 ],
       [47.051865],
       [73.05657 ],
       [85.34634 ],
       [89.92911 ],
       [70.28718 ],
       [56.249027],
       [67.36062 ],
       [70.492294],
       [96.88763 ],
       [68.21342 ],
       [68.952774],
       [82.318214],
       [48.940704],
       [81.08611 ],
       [54.893826],
       [48.12898 ],
       [78.58329 ],
       [58.92065 ],
       [62.432762],
       [90.82283 ],
       [45.38755 ],
       [79.48681 ],
       [65.72848 ],
       [74.89838 ],
       [79.92562 ],
       [84.669464],
       [64.75042 ],
       [68.346306],
       [68.76725 ],
       [68.264496],
       [60.098804],
       [65.82871 ],
       [58.715523],
       [46.661026],
       [59.87656 ],
       [91.13991 ],
       [65.15328 ],
       [89.92647 ],
       [99.09503 ],
       [51.71978 ],
       [69.13638 ],
       [45.983513],
       [33.16966 ],
       [79.05267 ],
       [73.79673 ],
       [63.335865],
       [89.22104 ],
       [60.499245],
       [79.97621 ],
       [76.940445],
       [42.973324],
       [76.80404 ],
       [79.12667 ],
       [70.87187 ],
       [76.78353 ],
       [52.308815],
       [79.34353 ],
       [38.499256],
       [75.62586 ],
       [72.71749 ],
       [52.451607],
       [58.12953 ],
       [31.310932],
       [66.83694 ],
       [70.98219 ],
       [45.871098],
       [51.537514],
       [83.39616 ],
       [66.340996],
       [61.097588],
       [77.89259 ],
       [54.69086 ],
       [85.20325 ],
       [81.42555 ],
       [73.19281 ],
       [62.76082 ],
       [42.06106 ],
       [47.04135 ],
       [74.373184],
       [65.23546 ],
       [61.43434 ],
       [51.979996],
       [64.835106],
       [81.41403 ],
       [61.570656],
       [47.849495],
       [35.541542],
       [69.02454 ],
       [68.29463 ],
       [64.28073 ],
       [47.96511 ],
       [49.80297 ],
       [81.8076  ],
       [81.58861 ],
       [76.57066 ]], dtype=float32)

**Model Evaluation**

In [64]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 0.764625949859619
Mean Squared Error: 0.9370605364033522
Root Mean Squared Error: 0.968018871925208

**Model Improvement**

In [65]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout

In [66]:
model = Sequential()
model.add(Dense(5, input_dim=5, kernel_initializer='normal', activation='relu'))
model.add(BatchNormalization())  # Add batch normalization layer
model.add(Dense(2670, activation='relu'))
model.add(BatchNormalization())  # Add batch normalization layer
model.add(Dropout(0.5))  # Add dropout layer with a dropout rate of 0.5
model.add(Dense(1, activation='linear'))

In [67]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 5)                 30

 batch_normalization_2 (Batc  (None, 5)                20
 hNormalization)

 dense_10 (Dense)            (None, 2670)              16020

 batch_normalization_3 (Batc  (None, 2670)             10680
 hNormalization)

 dropout_1 (Dropout)         (None, 2670)              0

 dense_11 (Dense)            (None, 1)                 2671

=================================================================
Total params: 29,421
Trainable params: 24,071
Non-trainable params: 5,350
_________________________________________________________________

In [68]:
model.compile(loss='mean_squared_error', optimizer='adam',
              metrics=['mean_absolute_error'])

In [69]:
history = model.fit(X_train, y_train, epochs=50,
                    batch_size=128, validation_data=(X_test, y_test))

Epoch 1/50
7/7 [==============================] - 2s 48ms/step - loss: 4667.4502 - mean_absolute_error: 67.4984 - val_loss: 4532.1450 - val_mean_absolute_error: 65.7458
Epoch 2/50
7/7 [==============================] - 0s 20ms/step - loss: 4502.5879 - mean_absolute_error: 67.0423 - val_loss: 4241.7769 - val_mean_absolute_error: 63.5912
Epoch 3/50
7/7 [==============================] - 0s 22ms/step - loss: 4442.6465 - mean_absolute_error: 66.5249 - val_loss: 4139.2280 - val_mean_absolute_error: 62.8034
Epoch 4/50
7/7 [==============================] - 0s 22ms/step - loss: 4358.0586 - mean_absolute_error: 65.9262 - val_loss: 4159.0322 - val_mean_absolute_error: 62.9336
Epoch 5/50
7/7 [==============================] - 0s 23ms/step - loss: 4265.9155 - mean_absolute_error: 65.2619 - val_loss: 4128.3936 - val_mean_absolute_error: 62.6746
Epoch 6/50
7/7 [==============================] - 0s 21ms/step - loss: 4165.6611 - mean_absolute_error: 64.5083 - val_loss: 4024.8296 - val_mean_absolute_error: 61.8488
Epoch 7/50
7/7 [==============================] - 0s 23ms/step - loss: 4037.2954 - mean_absolute_error: 63.5002 - val_loss: 3858.1543 - val_mean_absolute_error: 60.5098
Epoch 8/50
7/7 [==============================] - 0s 22ms/step - loss: 3884.5068 - mean_absolute_error: 62.2721 - val_loss: 3699.2766 - val_mean_absolute_error: 59.1895
Epoch 9/50
7/7 [==============================] - 0s 18ms/step - loss: 3695.7700 - mean_absolute_error: 60.7461 - val_loss: 3539.9985 - val_mean_absolute_error: 57.8205
Epoch 10/50
7/7 [==============================] - 0s 22ms/step - loss: 3468.1594 - mean_absolute_error: 58.8197 - val_loss: 3364.7861 - val_mean_absolute_error: 56.2697
Epoch 11/50
7/7 [==============================] - 0s 22ms/step - loss: 3203.5908 - mean_absolute_error: 56.5513 - val_loss: 3101.7571 - val_mean_absolute_error: 53.8971
Epoch 12/50
7/7 [==============================] - 0s 20ms/step - loss: 2896.8105 - mean_absolute_error: 53.7331 - val_loss: 2786.4451 - val_mean_absolute_error: 50.9110
Epoch 13/50
7/7 [==============================] - 0s 20ms/step - loss: 2587.8804 - mean_absolute_error: 50.7859 - val_loss: 2487.5657 - val_mean_absolute_error: 47.8719
Epoch 14/50
7/7 [==============================] - 0s 21ms/step - loss: 2243.7014 - mean_absolute_error: 47.2640 - val_loss: 2133.1497 - val_mean_absolute_error: 44.0361
Epoch 15/50
7/7 [==============================] - 0s 20ms/step - loss: 1905.4836 - mean_absolute_error: 43.5127 - val_loss: 1803.9399 - val_mean_absolute_error: 40.1233
Epoch 16/50
7/7 [==============================] - 0s 19ms/step - loss: 1552.2729 - mean_absolute_error: 39.2713 - val_loss: 1464.5631 - val_mean_absolute_error: 35.6984
Epoch 17/50
7/7 [==============================] - 0s 19ms/step - loss: 1225.2454 - mean_absolute_error: 34.7922 - val_loss: 1171.9027 - val_mean_absolute_error: 31.3839
Epoch 18/50
7/7 [==============================] - 0s 20ms/step - loss: 919.5851 - mean_absolute_error: 30.1153 - val_loss: 896.8757 - val_mean_absolute_error: 26.8851
Epoch 19/50
7/7 [==============================] - 0s 19ms/step - loss: 686.0214 - mean_absolute_error: 25.9390 - val_loss: 663.6088 - val_mean_absolute_error: 22.4988
Epoch 20/50
7/7 [==============================] - 0s 30ms/step - loss: 456.5007 - mean_absolute_error: 20.9332 - val_loss: 488.8616 - val_mean_absolute_error: 18.8777
Epoch 21/50
7/7 [==============================] - 0s 29ms/step - loss: 306.8894 - mean_absolute_error: 17.0757 - val_loss: 353.3648 - val_mean_absolute_error: 15.8794
Epoch 22/50
7/7 [==============================] - 0s 29ms/step - loss: 175.4603 - mean_absolute_error: 12.6568 - val_loss: 262.7740 - val_mean_absolute_error: 13.5379
Epoch 23/50
7/7 [==============================] - 0s 31ms/step - loss: 107.1052 - mean_absolute_error: 9.4473 - val_loss: 220.3897 - val_mean_absolute_error: 12.3037
Epoch 24/50
7/7 [==============================] - 0s 30ms/step - loss: 62.4973 - mean_absolute_error: 6.8124 - val_loss: 189.0475 - val_mean_absolute_error: 11.2109
Epoch 25/50
7/7 [==============================] - 0s 29ms/step - loss: 35.9614 - mean_absolute_error: 4.9480 - val_loss: 178.9177 - val_mean_absolute_error: 10.8495
Epoch 26/50
7/7 [==============================] - 0s 31ms/step - loss: 23.0371 - mean_absolute_error: 3.7687 - val_loss: 173.9893 - val_mean_absolute_error: 10.7149
Epoch 27/50
7/7 [==============================] - 0s 29ms/step - loss: 19.3125 - mean_absolute_error: 3.3626 - val_loss: 173.4799 - val_mean_absolute_error: 10.6766
Epoch 28/50
7/7 [==============================] - 0s 29ms/step - loss: 18.5238 - mean_absolute_error: 3.2808 - val_loss: 168.1535 - val_mean_absolute_error: 10.5019
Epoch 29/50
7/7 [==============================] - 0s 31ms/step - loss: 17.4081 - mean_absolute_error: 3.1968 - val_loss: 175.0116 - val_mean_absolute_error: 10.7111
Epoch 30/50
7/7 [==============================] - 0s 30ms/step - loss: 19.1826 - mean_absolute_error: 3.3193 - val_loss: 167.2660 - val_mean_absolute_error: 10.4677
Epoch 31/50
7/7 [==============================] - 0s 33ms/step - loss: 17.9893 - mean_absolute_error: 3.2929 - val_loss: 169.8648 - val_mean_absolute_error: 10.5330
Epoch 32/50
7/7 [==============================] - 0s 31ms/step - loss: 17.9481 - mean_absolute_error: 3.3177 - val_loss: 163.4224 - val_mean_absolute_error: 10.3267
Epoch 33/50
7/7 [==============================] - 0s 33ms/step - loss: 19.6061 - mean_absolute_error: 3.3341 - val_loss: 164.9673 - val_mean_absolute_error: 10.3780
Epoch 34/50
7/7 [==============================] - 0s 30ms/step - loss: 17.4851 - mean_absolute_error: 3.2316 - val_loss: 159.6207 - val_mean_absolute_error: 10.1837
Epoch 35/50
7/7 [==============================] - 0s 19ms/step - loss: 15.2794 - mean_absolute_error: 2.9854 - val_loss: 163.0164 - val_mean_absolute_error: 10.3233
Epoch 36/50
7/7 [==============================] - 0s 19ms/step - loss: 18.0721 - mean_absolute_error: 3.1819 - val_loss: 156.1172 - val_mean_absolute_error: 10.0821
Epoch 37/50
7/7 [==============================] - 0s 22ms/step - loss: 15.5136 - mean_absolute_error: 2.9967 - val_loss: 155.9004 - val_mean_absolute_error: 10.0780
Epoch 38/50
7/7 [==============================] - 0s 22ms/step - loss: 17.4356 - mean_absolute_error: 3.1880 - val_loss: 159.7932 - val_mean_absolute_error: 10.2256
Epoch 39/50
7/7 [==============================] - 0s 23ms/step - loss: 16.0714 - mean_absolute_error: 3.0955 - val_loss: 147.5604 - val_mean_absolute_error: 9.8207
Epoch 40/50
7/7 [==============================] - 0s 22ms/step - loss: 15.7528 - mean_absolute_error: 3.0661 - val_loss: 154.7846 - val_mean_absolute_error: 10.0735
Epoch 41/50
7/7 [==============================] - 0s 19ms/step - loss: 18.0188 - mean_absolute_error: 3.2551 - val_loss: 144.9473 - val_mean_absolute_error: 9.7709
Epoch 42/50
7/7 [==============================] - 0s 21ms/step - loss: 14.3826 - mean_absolute_error: 2.9177 - val_loss: 145.6939 - val_mean_absolute_error: 9.7690
Epoch 43/50
7/7 [==============================] - 0s 22ms/step - loss: 13.7436 - mean_absolute_error: 2.7871 - val_loss: 143.2132 - val_mean_absolute_error: 9.6636
Epoch 44/50
7/7 [==============================] - 0s 21ms/step - loss: 13.4629 - mean_absolute_error: 2.7812 - val_loss: 141.8351 - val_mean_absolute_error: 9.6352
Epoch 45/50
7/7 [==============================] - 0s 22ms/step - loss: 13.9624 - mean_absolute_error: 2.8271 - val_loss: 135.8487 - val_mean_absolute_error: 9.3963
Epoch 46/50
7/7 [==============================] - 0s 20ms/step - loss: 14.7361 - mean_absolute_error: 2.9482 - val_loss: 141.1139 - val_mean_absolute_error: 9.5755
Epoch 47/50
7/7 [==============================] - 0s 23ms/step - loss: 14.7762 - mean_absolute_error: 2.8932 - val_loss: 137.6378 - val_mean_absolute_error: 9.4806
Epoch 48/50
7/7 [==============================] - 0s 21ms/step - loss: 15.5015 - mean_absolute_error: 2.9815 - val_loss: 128.2988 - val_mean_absolute_error: 9.1522
Epoch 49/50
7/7 [==============================] - 0s 22ms/step - loss: 16.1666 - mean_absolute_error: 3.0226 - val_loss: 146.2980 - val_mean_absolute_error: 9.7795
Epoch 50/50
7/7 [==============================] - 0s 24ms/step - loss: 20.1982 - mean_absolute_error: 3.2806 - val_loss: 118.3469 - val_mean_absolute_error: 8.7274

In [70]:
predictions2 = model.predict(X_test)
predictions2

7/7 [==============================] - 0s 3ms/step

array([[74.002014],
       [76.044754],
       [66.60719 ],
       [79.00573 ],
       [71.99171 ],
       [71.47666 ],
       [80.81229 ],
       [75.17993 ],
       [74.914154],
       [74.24265 ],
       [68.733795],
       [67.529465],
       [68.71594 ],
       [72.96223 ],
       [62.30894 ],
       [61.684307],
       [76.03123 ],
       [74.04355 ],
       [73.402084],
       [76.094696],
       [66.60726 ],
       [74.21603 ],
       [72.581345],
       [79.159966],
       [70.882835],
       [79.464806],
       [74.57715 ],
       [75.20084 ],
       [73.315094],
       [68.04462 ],
       [75.92451 ],
       [70.57482 ],
       [64.28131 ],
       [76.77583 ],
       [74.48588 ],
       [69.69422 ],
       [73.099205],
       [78.46462 ],
       [71.35284 ],
       [67.92124 ],
       [68.87507 ],
       [80.917625],
       [65.10071 ],
       [68.75361 ],
       [63.945255],
       [73.89764 ],
       [70.25783 ],
       [73.00986 ],
       [71.26372 ],
       [71.45015 ],
       [70.339226],
       [67.42826 ],
       [64.16441 ],
       [72.352165],
       [65.8966  ],
       [75.65455 ],
       [71.02602 ],
       [77.9277  ],
       [72.14058 ],
       [74.454605],
       [65.36117 ],
       [67.18116 ],
       [76.91947 ],
       [70.490295],
       [79.57514 ],
       [77.61274 ],
       [79.58611 ],
       [70.52626 ],
       [70.68741 ],
       [69.36735 ],
       [65.09934 ],
       [74.11921 ],
       [74.84265 ],
       [70.67615 ],
       [70.60125 ],
       [70.263   ],
       [80.30083 ],
       [76.84105 ],
       [70.145676],
       [70.66207 ],
       [70.50764 ],
       [69.83588 ],
       [75.07244 ],
       [65.14385 ],
       [74.75082 ],
       [63.18121 ],
       [74.326935],
       [72.41877 ],
       [68.60814 ],
       [70.394135],
       [73.59992 ],
       [68.42676 ],
       [73.728935],
       [70.48342 ],
       [76.91324 ],
       [72.38271 ],
       [71.502266],
       [68.15113 ],
       [75.00343 ],
       [79.209145],
       [77.12537 ],
       [65.19724 ],
       [63.233818],
       [74.657715],
       [76.63831 ],
       [64.30843 ],
       [73.44206 ],
       [77.1376  ],
       [78.26078 ],
       [72.5887  ],
       [67.57214 ],
       [71.430435],
       [72.85328 ],
       [80.7101  ],
       [71.87522 ],
       [71.775925],
       [75.9723  ],
       [65.66105 ],
       [75.307655],
       [66.88726 ],
       [65.247856],
       [75.186165],
       [68.58917 ],
       [70.069534],
       [78.711174],
       [65.12507 ],
       [75.25829 ],
       [70.96958 ],
       [73.156815],
       [75.60497 ],
       [76.602486],
       [70.41704 ],
       [72.18249 ],
       [72.16822 ],
       [71.404816],
       [68.941536],
       [70.5171  ],
       [68.34215 ],
       [64.92149 ],
       [68.7339  ],
       [78.78857 ],
       [71.34328 ],
       [78.34562 ],
       [81.48209 ],
       [65.7552  ],
       [71.487854],
       [64.905136],
       [60.99141 ],
       [74.717064],
       [72.9253  ],
       [70.18927 ],
       [78.39251 ],
       [68.547844],
       [75.49932 ],
       [74.222885],
       [62.650875],
       [74.8023  ],
       [75.170586],
       [72.25038 ],
       [74.45622 ],
       [66.14223 ],
       [75.05397 ],
       [61.801052],
       [74.408775],
       [73.44686 ],
       [67.212875],
       [68.86236 ],
       [60.304684],
       [71.54398 ],
       [72.569016],
       [64.59091 ],
       [66.23082 ],
       [76.58807 ],
       [70.615776],
       [69.642746],
       [75.09937 ],
       [67.420975],
       [76.9022  ],
       [75.7363  ],
       [73.1061  ],
       [70.05128 ],
       [63.80081 ],
       [65.261826],
       [74.00922 ],
       [70.85184 ],
       [68.811905],
       [66.30477 ],
       [70.37176 ],
       [75.70618 ],
       [69.038574],
       [65.289474],
       [61.109108],
       [71.33917 ],
       [71.331436],
       [70.503784],
       [65.453705],
       [66.37037 ],
       [76.00004 ],
       [75.69656 ],
       [74.136345]], dtype=float32)

In [71]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions2))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions2)))

Mean Absolute Error: 8.727376906077067
Mean Squared Error: 118.34690094242974
Root Mean Squared Error: 10.87873618314323